name: "Release"

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    name: "Goreleaser"
    uses: na4ma4/actions/.github/workflows/goreleaser.yml@main
    secrets:
      GO_RELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
